---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import PostPreview from '@components/PostPreview.astro';
import Pagination from '@components/Pagination.astro';
import siteConfig from '@data/site-config';
import { getAllTags, getPostsByTag, sortItemsByDateDesc } from '@utils/data-utils';

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection('blog', ({ data }) => !data.draft);
  const tags = getAllTags(posts);
  return [...tags.keys()].flatMap((tag) => {
    const filtered = getPostsByTag(posts, tag).sort(sortItemsByDateDesc);
    return paginate(filtered, { params: { id: tag }, pageSize: siteConfig.postsPerPage });
  });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page } = Astro.props as Props;
const { id } = Astro.params;
---

<BaseLayout title={`#${id}`}>
  <h1 class="mb-12 font-sans text-3xl font-700">
    Posts tagged <span class="text-[var(--color-accent)]">#{id}</span>
  </h1>
  {page.data.map((post: any) => (
    <PostPreview post={post} />
  ))}
  <Pagination
    prevUrl={page.url.prev}
    nextUrl={page.url.next}
    currentPage={page.currentPage}
    lastPage={page.lastPage}
  />
</BaseLayout>
