---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import PostPreview from '@components/PostPreview.astro';
import Pagination from '@components/Pagination.astro';
import siteConfig from '@data/site-config';
import { isPublished, sortItemsByDateDesc } from '@utils/data-utils';

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection('blog', isPublished);
  return paginate(posts.sort(sortItemsByDateDesc), { pageSize: siteConfig.postsPerPage });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page } = Astro.props as Props;
---

<BaseLayout title="Blog">
  <h1 class="font-700 mb-12 font-sans text-3xl">Blog</h1>
  {page.data.map((post: any) => <PostPreview post={post} />)}
  <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} currentPage={page.currentPage} lastPage={page.lastPage} />
</BaseLayout>
