---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';
import ProjectPreview from '@components/ProjectPreview.astro';
import Pagination from '@components/Pagination.astro';
import siteConfig from '@data/site-config';
import { isPublished, sortItemsBySortOrder } from '@utils/data-utils';

export const getStaticPaths = (async ({ paginate }) => {
  const projects = await getCollection('projects', isPublished);
  return paginate(projects.sort(sortItemsBySortOrder), { pageSize: siteConfig.projectsPerPage });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page } = Astro.props as Props;
---

<BaseLayout title="Projects">
  <h1 class="font-700 mb-12 font-sans text-3xl">Projects</h1>
  <div class="grid gap-6 sm:grid-cols-2">
    {page.data.map((project: any) => <ProjectPreview project={project} />)}
  </div>
  <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} currentPage={page.currentPage} lastPage={page.lastPage} />
</BaseLayout>
